/* src/styles/_colors.scss */
$observatory: #048a63;
$apple-green: #ddf2ed;
$cod-gray-dark: #0c0c0c;
$cod-gray: #1c1c1c;
$tradewind: #65b5ac;
$monte-carlo: #7cc5b2;
$silver-tree: #59ab8c;
$jungle-green: #259a90;
$watercourse: #067464;
$salem: #04883c;