/* Asegura que el scrollbar sea invisible pero funcione */
.flex-auto::-webkit-scrollbar {
    width: 0px; /* El ancho del scrollbar será 0 */
    height: 0px; /* El alto del scrollbar será 0 */
}

.flex-auto {
    scrollbar-width: none; /* Para Firefox */
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
}